:root {
    --primary: #355EFC;
    --primary-hover: #2d50d6;
    --text: #333;
    --text-light: #666;
    --light: #f7f7f7;
    --light-dark: #e1e1e1;
    --bg: #f9f9f9;
    --bg-card: #fff;
    --bg-dark: #011A41;
    --border: #e1e1e1;
    --danger: #e74c3c;
    --danger-dark: #c0392b;
    --success: #2b9b41;
    --success-dark: #1e7e34;
    --h1-font-size: 2.5rem;
    --h1-line-height: 3.125rem;
    --h2-font-size: 2rem;
    --h2-line-height: 2.625rem;
    --h3-font-size: 1.625rem;
    --h3-line-height: 2.125rem;
    --h4-font-size: 1.375rem;
    --h4-line-height: 1.75rem;
    --h5-font-size: 1.125rem;
    --h5-line-height: 1.5rem;
    --h6-font-size: 1rem;
    --h6-line-height: 1.375rem;
    --status-open-bg: #ffe5ca;
    --status-open-color: #ff8c00;
    --status-in-progress-bg: #e0f7fa;
    --status-in-progress-color: #0097a7;
    --status-resolved-bg: #e0f2e9;
    --status-resolved-color: #27ae60;
    --status-pending-bg: #fce4ec;
    --status-pending-color: #d81b60;
    --priority-urgent-border: #b71c1c;
    --priority-high-border: #e53935;
    --priority-medium-border: #ffb300;
    --priority-low-border: #1e88e5;
    --priority-low-bg: #e3f2fd;
    --priority-low-color: #1e88e5;
    --priority-medium-bg: #fff8e1;
    --priority-medium-color: #ffb300;
    --priority-high-bg: #ffebee;
    --priority-high-color: #e53935;
    --priority-urgent-bg: #ffcccb;
    --priority-urgent-color: #b71c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

body,
p {
    color: #555;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.625rem;
}

.p-large {
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.75rem;
}

.p-small {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #121212;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: -0.2px;
}

h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
}

h4 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
    letter-spacing: -0.1px;
}

h5 {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    letter-spacing: -0.1px;
}

h6 {
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
    letter-spacing: -0.1px;
}

a {
    color: #555;
    text-decoration: underline;
}

a:hover {
    color: #555;
    text-decoration: underline;
}

a.white {
    color: #fff;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}

.header-margin {
    margin-bottom: 4rem;
}

.page-wrapper {
    min-height: 100vh;
}

.top-space {
    padding-top: 10rem !important;
}

.bottom-space {
    padding-bottom: 6rem !important;
}

/* Buttons */

.btn {
    display: inline-block;
    width: auto;
    min-width: 120px;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border-radius: 2rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0.75rem;
    text-decoration: none !important;
    transition: all 0.2s;
}

.btn.btn-primary {
    background-color: var(--primary);
    border: 0.125rem solid var(--primary);
    color: white;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--primary-hover);
    border: 0.125rem solid var(--primary-hover);
    color: #fff;
}

.btn.btn-light {
    background-color: #fff;
    border: 0.125rem solid #fff;
}

.btn.btn-outline-primary {
    background-color: white;
    border: 0.125rem solid var(--primary);
    color: var(--primary);
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus {
    background-color: var(--primary);
    color: white;
}

.btn.btn-outline-white {
    border: 0.125rem solid white;
    color: #fff;
}

.btn.btn-outline-white:hover,
.btn.btn-outline-white:focus {
    background-color: white;
    color: var(--primary)
}

.btn.btn-lg {
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
}

.btn.btn-sm {
    padding: 0.875rem 1.5rem 0.875rem 1.5rem;
}

.btn.btn-xs {
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

.btn.btn-danger {
    background-color: var(--danger);
    border: 0.125rem solid var(--danger);
    color: white;
}

.btn.btn-danger:hover {
    background-color: var(--danger-dark);
    color: white;
}

/* Forms */

.form-group {
    position: relative;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form-label {
    color: #1a1a1a;
    opacity: 1;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Open Sans", sans-serif;
    cursor: text;
    transition: all 0.2s ease;
}

.form-control-input,
.form-control-select {
    display: block;
    width: 100%;
    padding: 0.5rem 1.25rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
    -webkit-appearance: none;
}

.form-control-select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
}

.form-control-textarea {
    display: block;
    width: 100%;
    height: 8rem;
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
}

.form-control-file {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
    border: 1px solid #a1a1a1;
    outline: none;
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
    border: 1px solid #a1a1a1;
}

/* Tabs */
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    font-weight: 600;
}

/* Navbar */

.navbar {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
    z-index: 100;
}

.navbar-spo {
    position: relative;
    background-color: transparent;
    background-color: var(--primary) !important;
    box-shadow: none;
}

.navbar .container {
    max-width: 87.5rem;
}

.navbar .navbar-brand.logo-image img {
    width: 4.4375rem;
    height: 1.75rem;
}

.navbar .navbar-brand .logo-text {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: "Open Sans", sans-serif;
    color: var(--primary);
    text-decoration: none;
}

.navbar-spo .navbar-brand .logo-text {
    color: #fff;
}

.navbar .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-item .nav-link {
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
    opacity: 0.8;
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.navbar-spo .nav-item .nav-link {
    color: #f7f5f5;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link.active {
    color: var(--primary-hover);
    opacity: 1;
}

.navbar-spo .nav-item .nav-link:hover,
.navbar-spo .nav-item .nav-link:focus,
.navbar-spo .nav-item .nav-link.active {
    color: #fff;
    opacity: 1;
}

.navbar .nav-item>.btn {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
}

.navbar .nav-item>.btn:hover {
    background-color: var(--primary-hover);
    border: 1px solid var(--primary-hover);
    color: #fff;
}

.navbar-spo .nav-item>.btn {
    border: 0.125rem solid white;
    color: #fff;
}

.navbar-spo .nav-item>.btn:hover,
.navbar-spo .nav-item>.btn:focus {
    background-color: white;
    color: var(--primary);
}

.navbar .navbar-toggler {
    padding: 0;
    border: none;
    color: #fff;
    font-size: 2rem;
}


/* Footer */
footer p {
    color: #fff;
}

footer .footer-brand p {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
}

footer .footer-brand img {
    height: 100px;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-nav-link {
    color: #f7f5f5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: #fff;
    opacity: 1;
    text-decoration: underline;
}

/* Sign-up / Login Pages */

.section-spo {
    background-color: var(--primary);
    text-align: center;
    min-height: 100vh;
}

.section-spo h1,
.section-spo p {
    color: #fff;
}

.section-spo p {
    max-width: 24rem;
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
}

.form-container {
    margin-right: auto;
    margin-left: auto;
    padding: 2.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.5rem;
    background-color: #f3f7fd;
    min-width: 460px;
}

@media (min-width: 768px) {
    .section-spo .form-container {
        padding: 2.25rem 1.75rem 1.25rem 1.75rem;
    }
}

/* Support Tickets */

.ticket-preview-text {
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.ticket-preview-text u,
.ticket-preview-text strong {
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.ticket-preview-text h1,
.ticket-preview-text h2,
.ticket-preview-text h3,
.ticket-preview-text h4,
.ticket-preview-text h5,
.ticket-preview-text h6 {
    font-size: 1rem !important;
}

.notification {
    position: fixed;
    z-index: 100;
    top: 120px;
    right: 40px;
    width: auto;
    max-width: 30%;
}

.tickets-section {
    display: flex;
    position: relative;
    margin: 0 auto;
}

.sidebar {
    position: sticky;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-card);
    height: fit-content;
    width: 300px;
    flex-shrink: 0;
    margin-right: 40px;
    transition: transform 0.3s ease;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 50%;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 0 50% 50% 0;
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .tickets-section {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: 99;
        transform: translateX(-100%);
        overflow-y: auto;
        max-height: 100vh;
        border-radius: 0;
        margin-right: 0;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: flex;
    }

    .sidebar-toggle.active {
        display: none;
    }

    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 98;
    }

    .sidebar-overlay.active {
        display: block;
    }
}

.ticket-info h2 {
    margin-bottom: 1.5rem;
    color: var(--primary);
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5rem;
}

.info-item {
    margin-bottom: 1rem;
}

.info-item .label {
    font-weight: 600;
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.info-item .value {
    font-size: 1rem;
}

.status-badge,
.priority-badge {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 500;
}

.status-badge.status-open {
    background-color: var(--status-open-bg);
    color: var(--status-open-color);
}

.status-badge.status-in-progress {
    background-color: var(--status-in-progress-bg);
    color: var(--status-in-progress-color);
}

.status-badge.status.resolved {
    background-color: var(--status-resolved-bg);
    color: var(--status-resolved-color);
}

.status-bage.status.pending {
    background-color: var(--status-pending-bg);
    color: var(--status-pending-color);
}

.priority-badge.priority-low {
    background-color: var(--priority-low-bg);
    color: var(--priority-low-color);
}

.priority-badge.priority-medium {
    background-color: var(--priority-medium-bg);
    color: var(--priority-medium-color);
}

.priority-badge.priority-high {
    background-color: var(--priority-high-bg);
    color: var(--priority-high-color);
}

.priority-badge.priority-urgent {
    background-color: var(--priority-urgent-bg);
    color: var(--priority-urgent-color);
}

.ticket-card {
    background-color: rgb(219 217 217 / 26%);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ticket-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.ticket-card.priority-urgent {
    border-left: 2px solid var(--priority-urgent-border);
}

.ticket-card.priority-high {
    border-left: 2px solid var(--priority-high-border);
}

.ticket-card.priority-medium {
    border-left: 2px solid var(--priority-medium-border);
}

.ticket-card.priority-low {
    border-left: 2px solid var(--priority-low-border);
}

/* .ticket-card.status-open {
    background-color: var(--status-open-bg);
} */

/* .ticket-card.status-in-progress {
    background-color: var(--status-in-progress-bg);
}

.ticket-card.status-pending {
    background-color: var(--status-pending-bg);
}

.ticket-card.status-resolved {
    background-color: var(--status-resolved-bg);
} */

.actions {
    margin-top: 2rem;
}

.ticket-content {
    background-color: var(--bg-card);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ticket-header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--border);
}

.ticket-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.ticket-meta {
    color: var(--text-light);
    font-size: 0.9rem;
}

.conversation {
    padding: 1.5rem;
}

.message {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}

.message:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.message-sender {
    display: flex;
    align-items: center;
}

.message-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
}

.message-name {
    font-weight: 600;
}

.message-role {
    font-size: 0.8rem;
    color: var(--text-light);
    margin-left: 0.5rem;
}

.message-time {
    font-size: 0.85rem;
    color: var(--text-light);
}

.message-content {
    line-height: 1.5;
    color: var(--text);
}

.message-attachments {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.attachment {
    background-color: #dbdbdb8e;
    padding: 0.4rem 0.75rem;
    border-radius: 12px;
    font-size: 0.85rem;
    color: var(--text);
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attachment span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 280px;
}

.attachment button {
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.attachment i {
    margin-right: 6px;
}

.attachment:hover {
    background-color: #eeeeee;
}

.reply-box {
    margin-top: 2rem;
    background-color: var(--bg-card);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.reply-box h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--text);
}

.attachment-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    font-size: 0.9rem;
}

.attachment-btn:hover {
    color: var(--primary);
}

.attachments-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

/* Profile */
.pfp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-pfp {
    position: absolute;
    bottom: -15px;
    right: -5px;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}